<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
</head>

<body>
    <h1><i>Hello World</i></h1>
    <p>Check out my <a href="{% url 'hello' %}">About</a> page.</p>


    <ol>
        {% for i in data %}
        <li>
            <a href="{% url 'contact' i.id %}"> {{i.name}} </a><br><br>
        </li>
        {% endfor %}
    </ol>
    <!-- {{i.email}}<br>
        {{i.Age}}<br>
        {{i.Phone}}<br><br> -->




</body>

</html>