<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="login.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#certifications.html">Certifications</a></li>
            <li><a href="#skills">Skills</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1>Welcome to Vaishaali's Webpage</h1>
        <p>If the plan doesn't work change the plan not your goal</p>
    </section>
</body>
</html>
