<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form  method="POST">
        {% csrf_token %}
        <input type="text" name = 'username' placeholder="Username" required><br>
        <input type="email" name = 'email' placeholder="email" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="password" name="confirm_password" placeholder="password" required><br>
        <input type="submit">
    </form>
</body>
</html>